/* ============================================================================
	ie-support
============================================================================= */

.posts-list li {
	margin-right: 25px;
}

.posts-list li.odd {
	margin-right: 0;
}

.registration-steps-manual li.last-child,
.teasers-list li.last-child {
	margin-right: 0;
}

.btn,
.btn-download,
.btn-main,
.btn-contrast-bordered {
	border-radius: 0!important;
}